# Large zip files
Depi_project.zip

# Environment files
.env

# Python caching & environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/

# Frontend builds and dependencies
node_modules/
dist/
.eslintcache

# Local editor settings
.vscode/
.idea/
